name: Python Setup
run-name: Python Setup on ${{ github.repository }}
on:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  Install-Python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    name: Install Python
    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Verify Python version
        run: python --version

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: backend

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
